*,
*::before,
*::after {
    margin: 0;
    font-family: "Karla";
    scroll-behavior: smooth;
    box-sizing: border-box;
}

// body {
//     cursor: url("../../../public/icons/Cursor.png"), 50%;
// }

body {
    display: flex;
    flex-direction: column;
    background: #1C1C1C;
    color: white;
}

.logo {
    height: 35px;
}

.margintop {
    margin-top: 20px;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 660px) {
    .section-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}