* {
    margin: 0;
    font-family: "Karla";
}

// body {
//     cursor: url("../../../public/icons/Cursor.png"), 50%;
// }

body {
    display: flex;
    flex-direction: column;
    background: #1C1C1C;
    color: white;
}

.logo {
    height: 50px;
}

.margintop {
    margin-top: 20px;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}