@use "./variables" as *;

.neon-box {
    background: $box-background-1;
    border: 1px solid $primary-color-1;
    border-radius: 30px;
    height: 520px;
    width: 550px;

    >p {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}