@use "./variables" as *;

h1 {
    font-size: 128px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Fira Code";
    font-weight: 200;
    font-size: 40px;
    text-align: center;
}

h3 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 64px;
    color: $primary-color-1;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    color: $primary-color-1;
    margin-bottom: 20px;
}

h5 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: $primary-color-1;
}

.basicwhite16 {
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.basicwhite18 {
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.greysmall16 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
        color: white;
    }
}

.skilltext {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 24px;
    margin-left: 30px;
}

.skilltext2 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 24px;
    color: $primary-color-1;
}

.copyrighttext {
    font-family: "Fira Code";
    font-size: 18px;
    font-weight: 400;
    color: $primary-color-1;
}

.copyrighttext_mobile {
    display: none;
    font-family: "Fira Code";
    font-size: 18px;
    font-weight: 400;
    color: $primary-color-1;
}


.references-text {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.textcolor {
    color: $primary-color-1;
    font-weight: 700;
}

.formquestions {
    font-weight: 500;
    font-size: 24px;
    font-family: "Fira Code";
    color: $primary-color-1;
    margin-bottom: 20px;
}

.imprinttext {
    font-size: 16px;
    font-weight: 400;
    color: $primary-color-1;
}

h6 {
    font-size: 19px;
    font-weight: 700;
    color: white;
}

@media (max-width: 660px) {
    h3 {
        font-size: 56px;
    }

    h5 {
        font-size: 26px;
    }
}

@media (max-width: 860px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 20px;
    }
}