// CYAN COLOR

$primary-gradient-1: linear-gradient(25deg, rgba(28, 28, 28, 1) 35%, rgba(8, 70, 59, 1) 100%);

$primary-color-1: #3DCFB6;
$primary-color-1-low: #3DCFB680;
$primary-color-2: #1C1C1C;

$box-background-1: rgba(61, 207, 182, 0.1);
$box-background-2: rgba(61, 207, 182, 0.3);

$contact-me-line1: rgba(61, 207, 182, 0.5);
$contact-me-line2: #3DCFB6;

// GOLD COLOR

// $primary-gradient-1: linear-gradient(25deg, rgba(28, 28, 28, 1) 23%, rgba(255, 202, 27, 1) 100%);

// $primary-color-1: #E8B91B;
// $primary-color-1-low: #E8B91B80;
// $primary-color-2: #1C1C1C;

// $box-background-1: rgba(232, 185, 27, 0.1);
// $box-background-2: rgba(232, 185, 27, 0.3);

// $contact-me-line1: rgba(232, 185, 27, 0.5);
// $contact-me-line2: #E8B91B;