$primary-color-1: #3DCFB6;
$primary-color-1-low: #3DCFB680;
$primary-color-2: #1C1C1C;

$box-background-1: rgba(61, 207, 182, 0.1);
$box-background-2: rgba(61, 207, 182, 0.3);

$contact-me-line1: rgba(61, 207, 182, 0.5);
$contact-me-line2: #3DCFB6;