<section class="references-section width_control section-padding">
    <h5> What my colleagues say about me</h5>
    <div class="reference-boxes">

        <div class="reference-box">
            <img class="quotes" src="icons/references/quotes.png" alt="Quotes Icon">
            <p class="references-text">Franek has proven to be a reliable group partner. His technical skills and
                proactive approach were
                crucial to the success of our project.</p>
            <div class="bottom-references">
                <div class="whiteline"></div>
                <p>H.Janisch - Team Partner</p>
            </div>
        </div>
    </div>
    <div class="reference-buttons">
        <img class="arrow arrow-left" src="icons/references/arrow_back.svg" alt="Back Icon">
        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <img class="arrow arrow-right" src="icons/references/arrow_forward.svg" alt="Forward Icon">
    </div>
</section>