<section class="references-section width_control section-padding">
    <h5>{{"references.heading" | translate}}</h5>
    <div class="reference-boxes">

        <div class="reference-box">
            <img class="quotes" src="icons/references/quotes.png" alt="Quotes Icon">
            <p class="references-text">{{"references.text" | translate}}</p>
            <div class="bottom-references">
                <div class="whiteline"></div>
                <p>{{"references.author" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="reference-buttons">
        <img class="arrow arrow-left" src="icons/references/arrow_back.svg" alt="Back Icon">
        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <img class="arrow arrow-right" src="icons/references/arrow_forward.svg" alt="Forward Icon">
    </div>
</section>