<section class="contactme-section width_control section-padding" id="contactme">
    <div class="contactme-left">
        <h4>{{"contactme.heading" | translate}}</h4>
        <h3>{{"contactme.titleLine1" | translate}}<br>{{"contactme.titleLine2" | translate}}</h3>
        <span class="skilltext2">{{"contactme.subtitle" | translate}}</span>
        <p class="basicwhite16 firstptag">{{"contactme.intro1" | translate}}<br>{{"contactme.intro2" | translate}}<br><br>{{"contactme.intro3" | translate}} <span class="textcolor">{{"contactme.talk" | translate}}</span></p>
    </div>
    <div class="contactme-right">
        <article class="questions-container">
            <p class="formquestions">{{"contactme.nameQuestion" | translate}}</p>
            <input type="text" placeholder="{{'contactme.namePlaceholder' | translate}}">
        </article>
        <article class="questions-container">
            <p class="formquestions">{{"contactme.emailQuestion" | translate}}</p>
            <input type="text" placeholder="{{'contactme.emailPlaceholder' | translate}}">
        </article>
        <article class="questions-container">
            <p class="formquestions">{{"contactme.helpQuestion" | translate}}</p>
            <input type="text" placeholder="{{'contactme.helpPlaceholder' | translate}}">
        </article>
        <div class="policyagree">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span class="agreepolicytext">{{"contactme.privacyText" | translate}}</span>
        </div>
        <button class="main-button">{{"contactme.button" | translate}}</button>
    </div>
</section>