@use "../../../styles/variables" as *;

.contactme-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

h3 {
    margin-left: 0px;
}

p {
    margin-top: 10px;
}

.policyagree {
    margin-top: 40px;
    display: flex;
}

.agreepolicytext {
    color: rgba(255, 255, 255, 0.8);
}

.policy-link {
    color: $primary-color-1;
    cursor: pointer;
    text-decoration: none;
    transition: color 150ms ease-in, text-decoration-color 150ms ease-in;

    &:hover {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        text-decoration-color: $primary-color-1;
    }
}

button {
    margin-top: 40px;
}

.contactme-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    border-bottom: 1px solid $contact-me-line1;
    border-top: 1px solid $contact-me-line1;
    padding: 30px 0px;
    width: 100%;
    transition: ease-in 150ms;

    &:hover {
        border-bottom: 1px solid $contact-me-line2;
        border-top: 1px solid $contact-me-line2;
    }

    >input {
        width: 300px;
        background: none;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 400;


        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            font-weight: 400;
            transition: ease-in 150ms;
        }

        &:hover::placeholder {
            color: white;
        }
    }

    .input-wrapper {
        width: 300px;

        input {
            width: 100%;
            background: none;
            border: none;
            outline: none;
            color: white;
            font-size: 18px;
            font-weight: 400;

            &::placeholder {
                color: rgba(255, 255, 255, 0.8);
                font-size: 18px;
                font-weight: 400;
                transition: ease-in 150ms;
            }

            &:hover::placeholder {
                color: white;
            }
        }

        .error {
            color: $error-color;
            font-size: 14px;
            min-height: 18px;
            margin-top: 8px;
        }
    }
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border: 2px solid $primary-color-1;
        transition: background-color 0.3s ease;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 4px;
            height: 9px;
            border: solid $primary-color-1;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &:hover .checkmark {
        background-color: $box-background-1;
    }

    input:checked ~ .checkmark {
        background-color: transparent;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}

@media (max-width: 1030px) {
.contactme-section {
    flex-direction: column;
    gap: 60px;
    margin-bottom: 50px;
}
.questions-container {
    width: 100%;
}

.formquestions {
    margin-top: 0px;
}

.policyagree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    height: 19px;
    margin-bottom: 0px;
}
}