<section class="contactme-section width_control section-padding">
    <div class="contactme-left">
        <h4>Contact me</h4>
        <h3>Let's work<br>together</h3>
        <span class="skilltext2">Got a problem to solve?</span>
        <p class="basicwhite16 firstptag">Encourage people to contact you and describe what role you are interested
            in.<br>Show that you will add value to their projects through your work.<br><br>Need a Fullstack Developer?
            <span class="textcolor">Let's talk!</span>
        </p>
    </div>
    <div class="contactme-right">
        <article class="questions-container">
            <p class="formquestions">What's your name?</p>
            <input type="text" placeholder="Your name goes here">
        </article>
        <article class="questions-container">
            <p class="formquestions">What's your email?</p>
            <input type="text" placeholder="youremail@email.com">
        </article>
        <article class="questions-container">
            <p class="formquestions">How can I help you?</p>
            <input type="text" placeholder="Hello Franek, I am interested in...">
        </article>
        <div class="policyagree">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span class="agreepolicytext">I've read the privacy policy and agree to the processing of my data as
                outlined.</span>
        </div>
        <button class="main-button">Send message</button>
    </div>
</section>