@use "../../../styles/variables" as *;
@use "../../../styles/buttons";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 20px;
}

.header-logo {
    height: 50px;
}

.header-button {
    background: none;
    border: 1px solid $primary-color-1; // $primary-color-1;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.left-side-header {
    display: flex;
    gap: 20px;

    >p {
        font-family: "Fira Code";
        font-weight: 200;
        font-size: 20px;

        &:hover {
            color: $primary-color-1;
            cursor: pointer;
        }
    }
}

.header-hero {
    background: $primary-color-2;
    background: linear-gradient(13deg, rgba(28, 28, 28, 1) 45%, rgba(8, 70, 59, 1) 100%);
    overflow: hidden;
}

.hero {
    height: 70vh;
    width: 100%;
    color: white;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moving-text {
    rotate: -5deg;
    height: 70px;
    background: rgba(255, 255, 255, 0.12);
    width: 100%;
    overflow: hidden;
}

.moving-text-inner {
    display: flex;
    align-items: center;
    width: max-content;
    animation: move-text 10s linear infinite;

    >p {
        color: $primary-color-1;
        font-weight: 400;
        font-size: 32px;
        white-space: nowrap;
        padding-right: 30px;
    }
}

@keyframes move-text {
    to {
        transform: translateX(-50%);
    }
}