<section class="hero">
    <div class="hero-content">
        <h2>{{"hero.fullstack" | translate}}</h2>
        <h1>{{"hero.name" | translate}}</h1>

        <div class="hero-buttons">
            <button class="main-button"><span>{{"hero.workbutton" | translate}}</span></button>
            <button class="main-button"><span>{{"hero.contactmebutton" | translate}}</span></button>
        </div>
    </div>
    <div class="moving-text">
        <div class="moving-text-inner">
            <p>{{"hero.available" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.fullstack" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.location" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.available" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.fullstack" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.location" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.available" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.fullstack" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.location" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.available" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.fullstack" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
            <p>{{"hero.location" | translate}}</p>
            <p>{{"hero.bullet" | translate}}</p>
        </div>
    </div>
    <div class="leftelements">
        <div class="movingarrowbox">
            <img src="icons/hero/arrowdown.png" alt="Down Arrow Icon">
        </div>
        <div class="coloredline"></div>
    </div>
    <div class="rightelements">
        <a href="mailto:franek.kaminski@gmx.de" class="hero-email-link">
            <img class="hero-email-icon" src="icons/hero/mail.png" alt="Mail Icon">
            <span class="hero-email-text">{{"hero.email" | translate}}</span>
        </a>
        <div class="social-wrapper">
            <img class="hero-socials" src="icons/hero/github.png" alt="github icon">
        </div>
        <div class="social-wrapper">
            <img class="hero-socials" src="icons/hero/linkedin.png" alt="linkedin icon">
        </div>
        <div class="whiteline"></div>
    </div>
</section>