@use "../../../styles/variables" as *;

.hero {
    height: 70vh;
    width: 100%;
    color: white;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color-2;
    background: linear-gradient(10deg, rgba(28, 28, 28, 1) 35%, rgba(8, 70, 59, 1) 100%);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moving-text {
    rotate: -5deg;
    height: 70px;
    background: rgba(255, 255, 255, 0.12);
    width: 100%;
    overflow: hidden;
}

.moving-text-inner {
    display: flex;
    align-items: center;
    width: max-content;
    animation: move-text 10s linear infinite;

    >p {
        color: $primary-color-1;
        font-weight: 400;
        font-size: 32px;
        white-space: nowrap;
        padding-right: 30px;
    }
}

@keyframes move-text {
    to {
        transform: translateX(-50%);
    }
}