<section class="hero">
    <div class="hero-content">
        <h2>Full Stack Developer</h2>
        <h1>Franek Kaminski</h1>

        <div class="hero-buttons">
            <button class="main-button">{{"hero.workbutton" | translate}}</button>
            <button class="main-button">{{"hero.contactmebutton" | translate}}</button>
        </div>
    </div>

</section>

<section class="moving-text">
    <div class="moving-text-inner">
        <p>Available for remote work</p>
        <p>•</p>
        <p>Full Stack Developer</p>
        <p>•</p>
        <p>Based in Achim</p>
        <p>•</p>
        <p>Available for remote work</p>
        <p>•</p>
        <p>Full Stack Developer</p>
        <p>•</p>
        <p>Based in Achim</p>
        <p>•</p>
    </div>
</section>