<section class="header-hero">
    <section class="header">
        <div class="left-side-header">
            <button class="header-button">EN</button>
            <button class="header-button">DE</button>
            <p>About me</p>
            <p>Skills</p>
            <p>Projects</p>
        </div>
        <img class="header-logo" src="/favicon/favicon.png" alt="Logo">
    </section>

    <section class="hero">
        <div class="hero-content">
            <h2>Full Stack Developer</h2>
            <h1>Franek Kaminski</h1>

            <div class="hero-buttons">
                <button>Check my work</button>
                <button>Contact me</button>
            </div>
        </div>

    </section>

    <section class="moving-text">
        <div class="moving-text-inner">
            <p>Available for remote work</p>
            <p>•</p>
            <p>Full Stack Developer</p>
            <p>•</p>
            <p>Based in Achim</p>
            <p>•</p>
            <p>Available for remote work</p>
            <p>•</p>
            <p>Full Stack Developer</p>
            <p>•</p>
            <p>Based in Achim</p>
            <p>•</p>
        </div>
    </section>
</section>