<section class="about-me">
    <div class="left-about-me">
        <img class="profilepic" src="icons/aboutme/profilepic.jpeg" alt="Profile Pic">
        <img class="stripes" src="icons/aboutme/Capa_1.png" alt="Stripes">
    </div>

    <div class="right-about-me">
        <h4>Who I Am</h4>
        <div class="neon-box">
            <h3>About me</h3>
            <p class="basicwhite18">Hey there! I'm Franek! Write some information about yourself that is IT related. Why are you passionate
                about
                coding? What is your source of inpsiration for improving your programming skills?</p>
            <div>
                <div class="bulletpoint">
                    <img src="icons/aboutme/location_on.png" alt="Map Icon">
                    <p class="greysmall16">Where are you based? Would you be open to working remotely or potentially
                        relocating?</p>
                </div>
                <div class="bulletpoint">
                    <img src="icons/aboutme/cognition.png" alt="Brain Icon">
                    <p class="greysmall16">Show that you are open-minded. Are you enthusiastic about learning new
                        technologies and
                        continually
                        improving your skills?</p>
                </div>
                <div class="bulletpoint">
                    <img src="icons/aboutme/new_releases.png" alt="Check Icon">
                    <p class="greysmall16">A brief description of your problem-solving approach.
                        Do you learn from each challenge as you search for the most efficient or elegant solution? You
                        can
                        include some keywords
                        like: analytical thinking, creativity, persistence and collaboration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>