@use "../../../styles/variables" as *;

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilepic {
    height: 550px;
    width: 550px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    position: absolute;
    top: -10px;
    left: 25px;
}

.stripes {
    height: 550px;
    width: 550px;
    position: relative;
    top: 25px;
    z-index: -1;
}

.left-about-me {
    position: relative;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 130px;
}

.bulletpoint {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;

    .locationicon {
        padding-left: 2px;
        padding-right: 2px;
    }

    >img {
        width: 24px;
        height: 24px;
    }

    >p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 660px) {
    .about-me {
        flex-direction: column;
        gap: 35px;

        .profilepic {
            height: 380px;
            width: 380px;
            top: 0;
            left: 5px;
        }

        .stripes {
            height: 380px;
            width: 380px;
            top: 15px;
            left: -10px;
        }
    }

    .neon-box {
        height: 620px;
        width: 380px;
    }
}