<section class="about-me width_control section-padding" id="aboutme">
    <div class="left-about-me">
        <img class="profilepic" src="icons/aboutme/profilepic.jpeg" alt="Profile Pic">
        <img class="stripes" src="icons/aboutme/gridcyan.png" alt="Stripes">
    </div>

    <div class="right-about-me">
        <h4>{{"aboutme.heading" | translate}}</h4>
        <div class="neon-box">
            <h3>{{"aboutme.title" | translate}}</h3>
            <p class="basicwhite18">{{"aboutme.intro" | translate}}</p>
            <div class="margin-bottom">
                <div class="bulletpoint">
                    <img class="locationicon" src="icons/aboutme/location_on.png" alt="Map Icon">
                    <p class="greysmall16">{{"aboutme.bullet1" | translate}}</p>
                </div>
                <div class="bulletpoint">
                    <img src="icons/aboutme/cognition.png" alt="Brain Icon">
                    <p class="greysmall16">{{"aboutme.bullet2" | translate}}</p>
                </div>
                <div class="bulletpoint">
                    <img src="icons/aboutme/new_releases.png" alt="Check Icon">
                    <p class="greysmall16">{{"aboutme.bullet3" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>