<section class="header-section width_control">
    <section class="header">
        <div class="left-side-header">
            <div class="lang-switch">
                <button [class.active]="currentLang() === 'en'" (click)="useLanguage('en')">EN</button>
                <button [class.active]="currentLang() === 'de'" (click)="useLanguage('de')">DE</button>
            </div>
            <a href="#aboutme">{{"header.aboutme" | translate}}</a>
            <a href="#skills">{{"header.skills" | translate}}</a>
            <a href="#projects">{{"header.projects" | translate}}</a>
        </div>
        <img class="logo" src="favicon/favicon.png" alt="Logo">
</section>