<section class="imprint width_control section-padding">
    <h3>{{"imprint.headlinemain" | translate}}</h3>
    <div class="imprint-content">
        <h6>{{"imprint.title" | translate}}</h6>
    
        <p class="imprinttext"><strong>{{"imprint.section5tmg" | translate}}</strong></p>
    
        <p class="imprinttext" [innerHTML]="'imprint.address' | translate"></p>
    
        <p class="imprinttext"><strong>{{"imprint.contacttitle" | translate}}</strong></p>
    
        <p class="imprinttext" [innerHTML]="'imprint.contact' | translate"></p>
    
        <h6>{{"imprint.responsible" | translate}}</h6>
    
        <p class="imprinttext" [innerHTML]="'imprint.responsibleData' | translate"></p>
    
        <h6>{{"imprint.liabilityContentTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.liabilityContentText" | translate}}</p>
    
        <h6>{{"imprint.liabilityLinksTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.liabilityLinksText" | translate}}</p>
    
        <h6>{{"imprint.copyrightTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.copyrightText" | translate}}</p>
    
        <h6>{{"imprint.dataprotectionTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.dataprotectionText" | translate}}</p>
    
        <h6>{{"imprint.formTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.formText1" | translate}}</p>
    
        <p class="imprinttext">{{"imprint.formText2" | translate}}</p>
    
        <p class="imprinttext">{{"imprint.formText3" | translate}}</p>
    
        <p class="imprinttext">{{"imprint.formText4" | translate}}</p>
    
        <h6>{{"imprint.hostingTitle" | translate}}</h6>
    
        <p class="imprinttext">{{"imprint.hostingText" | translate}}</p>
    
        <h6>{{"imprint.disputeTitle" | translate}}</h6>
    
        <p class="imprinttext" [innerHTML]="'imprint.disputeText1' | translate"></p>
    
        <p class="imprinttext">{{"imprint.disputeText2" | translate}}</p>
    </div>


</section>