<section class="footer-section width_control">
    <div class="footer-containers">
        <img class="logo" src="icons/logo/FKLogo.png" alt="Logo">
        <p class="basicwhite16">{{"footer.jobTitle" | translate}}</p>
        <p class="basicwhite16">{{"footer.location" | translate}}</p>
    </div>
    <div class="footer-containers">
        <p class="copyrighttext">{{"footer.copyright" | translate}}</p>
    </div>
    <div class="footer-containers">
        <a class="basicwhite16" href="https://github.com/FranekKaminski">{{"footer.github" | translate}}</a>
        <a class="basicwhite16" href="mailto:franek.kaminski@gmx.de">{{"footer.email" | translate}}</a>
        <a class="basicwhite16" routerLink="/imprint">{{"footer.legalNotice" | translate}}</a>
    </div>
</section>