<section class="footer-section width_control">
    <div class="footer-containers">
        <img class="logo" src="favicon/favicon.png" alt="Logo">
        <p class="basicwhite16">Full Stack Developer</p>
        <p class="basicwhite16">Achim Germany</p>
    </div>
    <div class="footer-containers">
        <p class="copyrighttext">&copy; Franek Kaminski 2026</p>
    </div>
    <div class="footer-containers">
        <a class="basicwhite16" href="">Github</a>
        <a class="basicwhite16" href="">Email</a>
        <a class="basicwhite16" routerLink="/imprint">Legal Notice</a>
    </div>
</section>