<section class="skills-section width_control section-padding" id="skills">
    <div class="right-about-me">
        <h4>Technologies</h4>
        <div class="neon-box">
            <h3>Skill Set</h3>
            <p class="basicwhite18">A short introduction of your skills. Highlight your experience of using different
                front-end technologies and emphasise your openness to learning and adapting to new technologies. Show
                how important it is for you to keep up with the rapid changes in web development.</p>
            <span class="skilltext">You need </span><span class="skilltext2">another skill?</span>
            <p class="margintop">Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
            <button class="main-button2"><span>Let's Talk</span></button>
        </div>
    </div>
    <div class="skills">
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/html.png" alt="html icon">
            <span class="skillicontext">HTML</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/css.png" alt="html icon">
            <span class="skillicontext">CSS</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/javascript.png" alt="html icon">
            <span class="skillicontext">JavaScript</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/materialdesign.png" alt="html icon">
            <span class="skillicontext">Material Design</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/typescript.png" alt="html icon">
            <span class="skillicontext">TypeScript</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/angular.png" alt="html icon">
            <span class="skillicontext">Angular</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/supabase.png" alt="html icon">
            <span class="skillicontext">Supabase</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/git.png" alt="html icon">
            <span class="skillicontext">Git</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/restapi.png" alt="html icon">
            <span class="skillicontext">REST-API</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/scrum.png" alt="html icon">
            <span class="skillicontext">Scrum</span>
        </div>
        <div class="skillcontainer">
            <img class="skillicon" src="icons/skills/growthmindset.png" alt="html icon">
            <span class="skillicontext">Growth Mindset</span>
        </div>
    </div>
</section>