<section class="portfolio-section width_control section-padding" id="projects">
    <div class="portfolio-box">
        <h4>{{"portfolio.heading" | translate}}</h4>
        <h3>{{"portfolio.title" | translate}}</h3>
        <article class="portfolioarticle2">
            <p class="basicwhite18 firstptag">{{"portfolio.intro" | translate}}</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">{{"portfolio.project1" | translate}}</p>
            <p class="basicwhite18">Angular | TypeScript | HTML | CSS | Firebase</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">{{"portfolio.project2" | translate}}</p>
            <p class="basicwhite18">HTML | CSS | Javascript</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">{{"portfolio.project3" | translate}}</p>
            <p class="basicwhite18">Angular | Firebase | Typescript</p>
        </article>
    </div>
</section>