<section class="portfolio-section width_control section-padding" id="projects">
    <div class="portfolio-box">
        <h4>Portfolio</h4>
        <h3>Featured Projects</h3>
        <article class="portfolioarticle2">
            <p class="basicwhite18 firstptag">Explore a selection of my work here - Interact with<br>projects to see my
                skills in
                action.</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">Join</p>
            <p class="basicwhite18">Angular | TypeScript | HTML | CSS | Firebase</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">El Pollo Loco</p>
            <p class="basicwhite18">HTML | CSS | Javascript</p>
        </article>
        <article class="portfolioarticle">
            <p class="skilltext">DA Bubble</p>
            <p class="basicwhite18">Angular | Firebase | Typescript</p>
        </article>
    </div>
</section>